<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width" />
		<title>Product List</title>
		<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet"/>
	</head>
	<body>
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-title">Product List</h1>
			</div>
			<div class="panel-body">
			
				<form class="form-inline" method="POST" style="margin: 20px 0" th:object="${product}" th:action="@{/products}">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Name" th:field="*{name}"/>
						<input type="text" class="form-control" placeholder="Barcode" th:field="*{code}"/>
						<button type="submit" class="btn btn-primary">Add</button>
					</div>
				</form>
			
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Barcode</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product : ${products}">
							<td th:text="${product.name}"></td>
							<td th:text="${product.code}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>